Hello <%= @user.name %>,
<br>
As a member of the UNGC LEAD group of companies, you have been invited to participate in the ‘Road to Integrated Sustainability’ self assessment.
<br>
Username: <%= @user.email %>
<br>
Password: 12345678
<br>
<a href="http://ungc.cloudapp.net">Click here</a> for redirecting to website
<br>
Warm Regards,
<br>
Ungc Lead Team
