<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="infoDiv">Sustainable development is an approach to development that takes the finite resources of the Earth into consideration. This can mean a lot of different things to different people, but it most commonly refers to the use of renewable energy resources and sustainable agriculture or forestry practices. It also entails the use of sustainable mineral use along with many other things. The idea is to create a system that is "sustainable", meaning one that can keep going indefinitely into the future.
      </div>
      <center>
        <button type="button" class="btn btn-default" style="float:left;">Start Assessment</button>
      </center>
    </div>
    <div class="col-md-8">
      <center>
        <div class="embed-responsive embed-responsive-16by9" style="width:80%;margin-top:20px;margin-bottom:30px;">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/eEFwaQej_0E">
          </iframe>
        </div>
      </center>
    </div>
  </div>
</div>
