<div class="container">
   <div class="row">
      <div class="col-md-8">
      <br>
      <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 115%"><FONT SIZE=4><B>UN
         Global Compact LEAD</B></FONT>
      </P>
      <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 115%"><FONT SIZE=4><B>Roadmap
         to Integrated Sustainability</B></FONT>
      </P>
      <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 115%"><FONT SIZE=4><B>Functional
         Integration Self-Assessment Tool</B></FONT><FONT SIZE=3><B> </B></FONT>
      </P>
      <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 115%"><BR></P>
      <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 115%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
      <br>
      <FONT SIZE=4><B>WELCOME</B></FONT>
      </P>
      <P STYLE="margin-bottom: 0in">Welcome to the Roadmap for Integrated
         Sustainability Self-Assessment tool. As a Global Compact LEAD
         company, you have exclusive, early access to this new tool to be used
         in conjunction with the Roadmap project’s general integration and
         function specific briefing documents to uncover high value
         opportunities to advance the integration of sustainability in
         targeted business functions.
      </P>
      <P STYLE="margin-bottom: 0in"><BR></P>
      <P STYLE="margin-bottom: 0in"><B>Integrating Sustainability into
         Business Functions</B>
      </P>
      <P STYLE="margin-bottom: 0in">Increasingly companies with experience
         in corporate sustainability conclude that deeper integration into
         their business functions and management processes is necessary to
         achieve greater levels of value creation, especially when shifting
         the focus of sustainability beyond risk management and productivity
         to innovating for growth.  Even the best sustainability teams can
         only take their companies so far by themselves.
      </P>
      <P STYLE="margin-bottom: 0in"><BR></P>
      <P STYLE="margin-bottom: 0in">In traditional business terms,
         <B>organizational integration</B> applies to efforts that seek to
         continuously <B>align the strategies</B>, <B>practices</B> and
         <B>policies</B> of autonomous and independent entities to <B>facilitate
         coordination, collaboration, synergies </B>and<B> greater innovation</B>.
      </P>
      <P STYLE="margin-bottom: 0in"><BR></P>
      <P STYLE="margin-bottom: 0in">The Roadmap for Integrated
         Sustainability project seeks to help sustainability teams, or
         executive leaders responsible for sustainability goals, engage and
         integrate sustainability with the company’s priority business
         functions. The choice of priority functions and the engagement
         strategies differ depending on the developmental stage of
         sustainability and its integration in overall business strategy.
      </P>
      <P STYLE="margin-bottom: 0in"><BR></P>
      <P STYLE="margin-bottom: 0in">For more information on the case for
         functional sustainability integration see UN Global Compact Briefing
         Document, <A HREF="https://www.unglobalcompact.org/docs/issues_doc/lead/roadmap/1.%20%20Introduction%20to%20Functional%20Integration_Roadmap%20General.pdf"><FONT COLOR="#1155cc"><U>Introduction
         to Functional Integration</U></FONT></A>.
      </P>
      <P STYLE="margin-bottom: 0in"><BR></P>
      <P STYLE="margin-bottom: 0in"><B>Structure</B></P>
      <P STYLE="margin-bottom: 0in">The Self-Assessment tool is organized
         in four sections.  The Functional Assessment section is designed to
         be completed in conversation with peers in the target function.  The
         introductory page for each section will include further relevant
         instructions, brief background information, and links to more
         resources on that topic.
      </P>
      <P STYLE="margin-bottom: 0in"><BR></P>
      <OL>
         <LI>
            <P STYLE="margin-bottom: 0in">Readiness Assessment - 5 questions
               related to the relative development and overall integration of
               sustainability at the corporate level.
            </P>
         <LI>
            <P STYLE="margin-bottom: 0in">Priority Function Identification -
               A quick, subjective survey to help identify priority functions for
               deeper analysis in the last, Functional Assessment section. Sections
               1 and 2 should take no more that 30 minutes to complete.  Upon
               completion, a graphical representation of your answers will be
               delivered to guide selection of functions in Section 3.  Section 2
               must be completed before Section 3 becomes available.
            </P>
         <LI>
            <P STYLE="margin-bottom: 0in">Functional Assessment - These
               questions are designed to be answered through direct discussions
               between sustainability leaders and peers in functions chosen with
               the help of the previous section.  To adequately discuss the
               multiple choice and reflection questions, please allow at least 45
               minutes for each meeting with functional peers.  Please refer to the
               Function Briefing documents linked for each function. You may
               consider forwarding the relevant document as background for your
               functional peer discussions.
            </P>
         <LI>
            <P STYLE="margin-bottom: 0in">Analysis and Report - Upon
               completion of the Self-Assessment, including each of the individual
               functions of your choosing, click on “CONCLUDE” in the upper
               right.  This will “lock in” your answers.  You will not be able
               to conclude the assessment until you have completed the Readiness
               and Priority Functions Assessment sections and at least three
               Functional Assessments.  At that time, your results will be
               automatically generated.   At any time in the process, we would
               welcome the opportunity to schedule a call to discuss your
               questions, results and feedback.
            </P>
      </OL>
      <P STYLE="margin-bottom: 0in"><BR></P>
      <P STYLE="margin-bottom: 0in; line-height: 115%"><B>Follow up with UN
         Global Compact</B>
      </P>
      <P STYLE="margin-bottom: 0in; line-height: 115%">Your feedback is
         vital to the success of this self assessment in helping the other,
         approximately 8500, Global Compact companies improve their
         sustainability performance becoming leaders in achieving the UN
         Sustainable Development Goals.  In this exclusive UN Global Compact
         LEAD prototype  phase, we would greatly appreciate the opportunity to
         discuss your Automated Results and overall feedback.  Please contact
         the UN Global Compact to set up an appointment with staff and/or its
         special advisor.
      </P>
      <P STYLE="margin-bottom: 0in; line-height: 115%"><BR></P>
      <P STYLE="margin-bottom: 0in; line-height: 115%"><B>Acknowledgement</B></P>
      <P STYLE="margin-bottom: 0in; line-height: 115%">The Self-Assessment
         tool was adapted into its current form primarily by Jim Hartzfeld of
         Hartzfeld Sustainability Advisors, inspired by the “<I>Sustainability
         Strategy Execution Model&quot;, Sustainability Innovators Working
         Group Research Report, David A. Lubin, Chairman and Lead Author,
         Spring 2010</I>.  The content was translated into its electronic form
         by Treeni Sustainability Solutions, through the generosity of
         CoFounder, Ankush Patel.
      </P>
      <P STYLE="margin-bottom: 0in; line-height: 115%"><BR></P>
      <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 115%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
         <B>Disclaimer</B>
      </P>
      <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 115%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
         This process is designed as an internal, self-assessment tool to help
         corporate sustainability teams and their advisors uncover and
         prioritize opportunities to advance sustainability integration and
         therefore the potential to create more value for their companies and
         other stakeholders.  It is not intended to be used an external rating
         system or reporting tool.  Through its electronic form, the UN Global
         Compact will capture and aggregate numeric data and comments to
         improve its tools and resources.  It may on occasion disclose
         aggregate data from multiple companies and cite example quotations.
         The Global Compact will not attribute any data or quotations to any
         company without their expressed, written approval.
      </P>
      <br>
      </div>
      <div class="col-md-4">
         <div class="row">
            <div class="embed-responsive embed-responsive-16by9"
               style="width:80%;margin-top:20px;margin-bottom:30px;">
               <iframe src="https://www.youtube.com/embed/X9BX9bfU3CU"
                  allowfullscreen>
               </iframe>
            </div>
         </div>
         <div class="row">
            <div class="submitBtn" style="float:left">
               <a href="javascript:void(0)" style="width: 311px" ng-click="start()" ng-hide="loading">
               Start
               </a>
            </div>
         </div>
      </div>
   </div>
</div>