<div class="container">
  <section class="profileSec">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="proImg clearfix">
            <img src="/images/batman.jpg">
          </div>
          <div class="wel">
            <h3>Welcome</h3>
            <h2>Treeni</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="loremTe">
    <div class="container">
      <div class="row">
        <div class="col-md-4" ng-repeat="assesment in myAssesments">
          <div class="leftText rightText">
            <h4>{{assesment.name}}</h4>
            <p></p>
            <div class="twoBt clearfix">
              <a href="#/instructions"
                 ng-show="assesment.status == 'pristine'">Start</a>
              <a href="/sections"
                 ng-show="assesment.status == 'in_progress'">Resume</a>
              <a href="javascript:void(0)"
                 ng-show="assesment.status == 'completed'">View Report</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
