<div class="con-tab1 right-cont">
  <h4>{{section.name}}</h4>
  <h4>{{section.description}}</h4>

  <form novalidate>
    <div ng-repeat="question in questions">
      <h6>
        <span ng-hide="editQuesFlag">{{question.description}}</span>
        <input ng-show="editQuesFlag" type="text" ng-model="question.description"/>
        <button class="btn" ng-click="editQuesFlag = !editQuesFlag">
          <span class="glyphicon"
                ng-class="{
                  'glyphicon-plus': editQuesFlag,
                  'glyphicon-pencil': !editQuesFlag
                }"></span>
        </button>
      </h6>

      <div class="data"
           ng-repeat="option in question.options"
           ng-if="question.control_type == 'radio'">

        <button class="btn pull-left"
                ng-click="editFlag = !editFlag">
          <span class="glyphicon"
                ng-class="{
                  'glyphicon-plus': editFlag,
                  'glyphicon-pencil': !editFlag
                }"></span>
        </button>

        <p ng-hide="editFlag">{{option.label}}</p>
        <input ng-show="editFlag" type="text" ng-model="option.label"/>
      </div>

    </div>

    <div class="submitBtn">
        <a ng-show="questions.length > 0" href="javascript:void(0)"
           ng-click="save()">
          save
        </a>
    </div>
  </form>

</div>
