<div class="con-tab1 right-cont">
  <h4>
    <span ng-hide="editNameFlag">{{section.name}}</span>
    <textarea ng-show="editNameFlag" ng-model="section.name"
              class="questionTextArea">
    </textarea>
    <button class="btn" ng-click="editNameFlag = !editNameFlag">
      <span class="glyphicon"
            ng-class="{
              'glyphicon-plus': editNameFlag,
              'glyphicon-pencil': !editNameFlag
            }"></span>
    </button>
  </h4>
  <h4>
    <span ng-hide="editDescFlag">{{section.description}}</span>
    <textarea ng-show="editDescFlag" ng-model="section.description"
              class="questionTextArea">
    </textarea>
    <button class="btn" ng-click="editDescFlag = !editDescFlag">
      <span class="glyphicon"
            ng-class="{
              'glyphicon-plus': editDescFlag,
              'glyphicon-pencil': !editDescFlag
            }"></span>
    </button>
  </h4>

  <form novalidate>
    <div ng-repeat="question in questions | orderBy:'order_no'">
      <h6>
        <span ng-hide="editQuesFlag">{{question.description}}</span>
        <textarea ng-show="editQuesFlag" ng-model="question.description"
                  class="questionTextArea">
        </textarea>
        <button class="btn" ng-click="editQuesFlag = !editQuesFlag">
          <span class="glyphicon"
                ng-class="{
                  'glyphicon-plus': editQuesFlag,
                  'glyphicon-pencil': !editQuesFlag
                }"></span>
        </button>
      </h6>

      <div class="data"
           ng-repeat="option in question.options | orderBy:'value'"
           ng-if="question.control_type == 'radio'">

        <button class="btn pull-left"
                ng-click="editFlag = !editFlag">
          <span class="glyphicon"
                ng-class="{
                  'glyphicon-plus': editFlag,
                  'glyphicon-pencil': !editFlag
                }"></span>
        </button>

        <p ng-hide="editFlag">{{option.label}}</p>
        <textarea ng-show="editFlag" ng-model="option.label"
                  class="optionTextArea">
        </textarea>
      </div>

    </div>

    <div class="submitBtn" ng-hide="loading">
        <a href="javascript:void(0)"
           ng-click="save()">
          save
        </a>
    </div>
  </form>
</div>
