<div class="container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wel" style="padding-top:40px;">
            <h2>{{ assesments[0].name }}</h2>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="row" style="padding-top:40px;">
  <div class="col-md-12">
    <div class="panel panel-default">

      <div class="panel-body">
        <div class="row" >
        <table class="table">
              <thead>
                <tr>
                  <th width="200">Invite</th>
                  <th width="250">Organisation</th>
                  <th width="250">Contact Email</th>
                  <th width="200">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in users">
                  <td>{{ user.name }}</td>
                  <td>{{ user.company.name }}</td>
                  <td>{{ user.email }}</td>
                  <td ng-if="(user.assesments[0].status == 'pristine')">Yet Not Started</td>
                  <td ng-if="(user.assesments[0].status == 'in_progress')">In Progress</td>
                  <td ng-if="(user.assesments[0].status == 'completed')">
                    <input type="button" class="btn btn-default" ng-click=""
                           value="view report"/>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
