<div class="container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wel" style="padding-top:40px;">
            <h2>Welcome Assessment</h2>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="row" style="padding-top:40px;">
  <div class="col-md-12">
    <div class="panel panel-default">

      <div class="panel-body">
        <div class="row" >
        <table class="table">
              <thead>
                <tr>
                  <th width="200">Invite</th>
                  <th width="250">Organisation</th>
                  <th width="250">Contact</th>
                  <th width="200">Status</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="javascript:void(0);">Jalbiradari</a></td>
                  <td><a href="javascript:void(0);">NGO</a></td>
                  <td>External</td>
                  <td>Water stress</td>
                  <td>
                    <ul class="tableIcons pull-right unstyled">
                      <li><a href="javascript:void(0);" class="icon-edit"></a></li>
                    </ul>
                  </td>
                </tr>

                 <tr>
                  <td><a href="javascript:void(0);">Goonj</a></td>
                  <td><a href="javascript:void(0);">NGO</a></td>
                  <td>Internal</td>
                  <td>Electicity stress</td>
                  <td>
                    <ul class="tableIcons pull-right unstyled">
                      <li><a href="javascript:void(0);" class="icon-edit"></a></li>
                    </ul>
                  </td>
                </tr>

                <tr>
                  <td><a href="javascript:void(0);">Eco clubs</a></td>
                  <td><a href="javascript:void(0);">Internal Team</a></td>
                  <td>Internal</td>
                  <td>3 Material Issues</td>
                  <td>
                    <ul class="tableIcons pull-right unstyled">
                      <li><a href="javascript:void(0);" class="icon-edit"></a></li>
                    </ul>
                  </td>
                </tr>

              </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
