<alert-bar error-type="danger" error-list="errors"></alert-bar>

<div class="container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wel" style="padding-top:40px;">
            <h2>{{ assesments[0].name }}</h2>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="row" style="padding-top:40px;">
  <div class="col-md-12">
    <div class="panel panel-default">

      <div class="panel-body">
        <div class="row">
        <table class="table">
              <thead>
                <tr>
                  <th width="200" class="tableHeader">Invite</th>
                  <th width="250" class="tableHeader">Organisation</th>
                  <th width="250" class="tableHeader">Contact Email</th>
                  <th width="200" class="tableHeader">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in users">
                  <td>{{ user.name }}</td>
                  <td>{{ user.company.name }}</td>
                  <td>{{ user.email }}</td>
                  <td ng-if="(!user.report)">Not Yet Started</td>
                  <td ng-if="(user.report.status == 'in_progress')">In Progress</td>
                  <td ng-if="(user.report.status == 'completed')">Completed</td>
                  <!-- <td ng-if="(user.report.status == 'completed')">
                    <a href="/pdfs/{{user._id}}.pdf">View Report</a>
                  </td> -->
                </tr>
              </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
