<div class="con-tab1 right-cont">
  <h4>{{section.name}}</h4>

  <div ng-if="section.name == 'Functional Assessment'" id="chart2" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>

  <h4 ng-bind-html="section.description"></h4>

  <form novalidate name="questionForm">
    <div ng-repeat="question in questions | orderBy:'order_no'"
         ng-init="index = $index">
      <h6 ng-class="{ required: question.control_type == 'radio' }">
        <span ng-bind-html="question.description"></span>
      </h6>

      <div class="data"
           ng-repeat="option in question.options | orderBy:'value'"
           ng-if="question.control_type == 'radio'">
        <input type="radio" name="{{option._id}}" ng-value="option.value"
               id="{{option._id}}"
               required
               ng-class="{
                'ng-valid-parse': answers[index].value == option.value
               }"
               ng-click="answers[index].option_id = option._id; initAnswer(question, answers[index])"
               ng-model="answers[index].value">
        <p>{{option.label}}</p>
      </div>

      <div class="data"
           ng-if="question.control_type == 'textarea'">
        <textarea ng-model="answers[index].value"
                  class="questionTextArea"
                  ng-change="initAnswer(question, answers[index])">
        </textarea>
      </div>

    </div>

    <div class="submitBtn" ng-hide="loading">
        <a ng-show="questions.length > 0" href="javascript:void(0)"
           ng-click="save(questionForm)">
          save
        </a>
    </div>
    <div class="spinner" ng-show="loading">
      <img class="ajax-loader"
         width="30"
         height="30"
         src="/images/spinner.gif" />
    </div>
  </form>
</div>
