<h1>{{section.name}}</h1>
<div>
  {{section.description}}
</div>
<div>
  <form ng-submit="save()" novalidate>

    <div ng-repeat="question in questions"
         ng-init="answer = $parent.answers[$index] = initAnswer(question)">
      <p>{{question.description}}</p>

        <div ng-repeat="option in question.options"
             ng-show="question.control_type == 'checkbox'">
          <input type="radio" value="{{option.value}}"
                 ng-model="$parent.answer.value"/>
          <p>{{option.label}}</p>
        </div>
    </div>

    <input type="submit" class="btn btn-default" value="Save" />
  </form>
</div>
<pre>
  {{answers | json}}
</pre>
