<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content">
    <a class="btn btn-warning btn-xs"
       ng-if="node.sections && node.sections.length > 0"
       data-nodrag ng-click="toggle(this)">
      <span class="glyphicon"
            ng-class="{
              'glyphicon-chevron-right': collapsed,
              'glyphicon-chevron-down': !collapsed
            }">
      </span>
    </a>
    <span on-node-select>{{node.name}}</span>
    <a class="pull-right btn btn-success btn-xs"
       ng-show="node.submitted"
       data-nodrag>
       <span class="glyphicon glyphicon-ok"></span>
    </a>
  </div>
  <ol ui-tree-nodes="" ng-model="node.sections" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.sections" ui-tree-node
        ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>

<div class="row">
  <div class="col-sm-12">
    <h3>Sections</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div ui-tree id="tree-root" data-drag-enabled="false">
      <ol ui-tree-nodes ng-model="sections">
        <li ng-repeat="node in sections" ui-tree-node ng-include="'nodes_renderer.html'"></li>
      </ol>
    </div>
  </div>

  <div class="col-sm-8">
    <div ui-view></div>
  </div>
</div>
