<P STYLE="margin-top: 0.08in; line-height: 100%"><FONT SIZE=3><B>UNDERSTANDING
   YOUR AUTOMATED REPORT</B></FONT>
</P>
<P STYLE="margin-top: 0.08in; line-height: 100%"><B>Automated Report
   </B>- After the survey is completed, the Self Assessment tool will
   automatically generate a report.  Remember, the survey will not allow
   you to “Conclude” unless all the Readiness and Priority Function
   Identification questions have been answered, as well as at least
   three Functional Assessments.
</P>
<OL>
   <LI>
      <P STYLE="margin-top: 0.08in; line-height: 100%"><B>Assessment
         Overview </B>- This histogram presents a graphical picture of how
         you described the current state of sustainability integration at
         your company.  Boxes are labeled by Readiness question and Function.
         Functional boxes are color coded by Integration Lens.
      </P>
      <OL TYPE=a>
         <LI>
            <P STYLE="margin-top: 0.08in; line-height: 100%">Overall shape
               - The overall shape of the histogram reflects the distribution and
               “center of gravity” of the development of your sustainability
               initiatives plotted on the UNGC Sustainability Stages Model. It
               could be interesting to compare that shape with your chosen
               Sustainability Stage (box labeled, SOC).
            </P>
         <LI>
            <P STYLE="margin-top: 0.08in; line-height: 100%">Readiness -
               The four readiness questions are shown in red boxes.  If these
               boxes lag most of the rest of the responses (i.e., appear on the
               left side or slope of the histogram shape) they could be creating
               significant barriers to integration efforts.  Consider investing in
               these corporate wide issues prior to major functional integration
               efforts.
            </P>
         <LI>
            <P STYLE="margin-top: 0.08in; line-height: 100%">Functional
               Integration - Individual functional lenses are plotted on the
               histogram.  Pay particular attention to those lagging lenses that
               could be holding back the progress of a function and potentially
               your overall sustainability program.
            </P>
      </OL>
   <LI>
      <P STYLE="margin-top: 0.08in; line-height: 100%"><B>Functional
         Snapshot </B> - This radar (spider) diagram displays the current
         state of the 3 integration lenses for each priority function
         assessed and its relative priority.
      </P>
      <OL TYPE=a>
         <LI>
            <P STYLE="margin-top: 0.08in; line-height: 100%">Priority - The
               relative priority is estimated by combining the average gap between
               current and desired level and the expressed business criticality of
               that function. The higher ratings (furthest from center) suggest
               the functions of higher potential impact and therefore priority for
               your integration efforts.
            </P>
         <LI>
            <P STYLE="margin-top: 0.08in; line-height: 100%">Lenses - The
               current state for each lens of the reported function is plotted.
               While significant opportunities may exist within each of the higher
               priority functions, pay particular attention to the lagging lenses
               (lowest scores, nearer to center).  These areas may be creating
               significant barriers to progress affecting that function and
               perhaps others.
            </P>
      </OL>
   <LI>
      <P STYLE="margin-top: 0.08in; line-height: 100%"><B>Detailed
         Output</B> - The remaining sections report the answers chosen and
         documented comments for each question in the survey.
      </P>
      <OL TYPE=a>
         <LI>
            <P STYLE="margin-top: 0.08in; line-height: 100%">Stage
               Selections - For both the Readiness and Functional Assessment
               sections, the contents of the light blue boxes are copied from the
               generalized “answers” that you chose in the survey for both the
               current and desired levels for that question.  The “answers”
               were constructed to not only help you choose the relative “center
               of gravity” of your existing program for that function and lens,
               but also to suggest generalized areas of best practice exhibited by
               companies already well positioned at your desired level.
            </P>
         <LI>
            <P STYLE="margin-top: 0.08in; line-height: 100%">The medium
               blue boxes contain any personalized comments you captured for
               opportunities and next steps.  In addition, in the upper right, a
               relative priority is suggested for that topic area.  When
               determining potential opportunities and next steps, consider both
               your personalized comments and the generalized best practice
               opportunities from the desired level for that question.
            </P>
         <LI>
            <P STYLE="margin-top: 0.08in; line-height: 100%">Functional
               Priority - The report includes a graphical representation of your
               relative influence responses in the Priority Function
               Identification section.  As a reminder, it is increasingly
               important to strategically engage with those functions that are
               perceived to be particularly influential in the company’s core
               strategy and value creation, especially when adopting a more growth
               oriented sustainability strategy, i.e. moving beyond a “Resource
               Optimization” focus to shift to “Market Differentiation.”
            </P>
      </OL>
</OL>