/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

label{
  color:#1E5463;
}

.panel .panel-heading {
    background-color: #1E5463;
    color: white;
    font-size:18px;
}

.form-control{
  margin-left:10%;
  width:80%;
  background:transparent;
}

.signInLabel{
  margin-left:5%;
}

.btn-default{
  background-color:#1F5863;
  color:white;
}

.infoDiv{
  padding-bottom:20px;
  font-size:15px;
  color:#215C6C;
  width:50%;
  text-align: left;
}


.infoRow{
  padding-left:10px;
  padding-right:10px;
  background-color:#CFE2F3;
}

.leftHeading{
  background-color:#0B5394;
  color:white;
}

.rightHeading{
  background-color:#6FA8DC;
  color:white;
  text-align:center;
}

.mainDiv{
   margin-bottom:20px;
}

