/* Global css code starts */
html {
  position: relative;
  min-height: 100%;
  width: 100%;
}
.allCaps{
  text-transform: uppercase;
}
.topSpace0{
  margin-top: 0;
}
.topSpace1{
  margin-top: 5px;
}
.topSpace2{
  margin-top: 10px;
}
.topSpace3{
  margin-top: 15px;
}
.topSpace4{
  margin-top: 20px;
}
.topSpace5{
  margin-top: 25px;
}
.topSpace6{
  margin-top: 30px;
}
.table {
  margin-bottom: 0;
}
.bottomSpace0 {
  margin-bottom: 0;
}
.bottomSpace1{
  margin-bottom: 5px;
}
.bottomSpace2{
  margin-bottom: 10px;
}
.bottomSpace3{
  margin-bottom: 15px;
}
.bottomSpace4{
  margin-bottom: 20px;
}
.bottomSpace5{
  margin-bottom: 25px;
}
.bottomSpace6{
  margin-bottom: 30px;
}
.bottomSpace7{
  margin-bottom: 35px;
}
.leftSpace0{
  margin-left: 0;
}
.leftSpace1{
  margin-left: 5px;
}
.leftSpace2{
  margin-left: 10px;
}
.leftSpace3{
  margin-left: 15px;
}
.leftSpace4{
  margin-left: 20px;
}
.leftSpace5{
  margin-left: 25px;
}
.leftSpace6{
  margin-left: 30px;
}
.rightSpace0{
  margin-right: 0;
}
.rightSpace1{
  margin-right: 5px;
}
.rightSpace2{
  margin-right: 10px;
}
.rightSpace3{
  margin-right: 15px;
}
.rightSpace4{
  margin-right: 20px;
}
.rightSpace5{
  margin-right: 25px;
}
.rightSpace6{
  margin-right: 30px;
}
body.panel{
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 60px;
}
header{
  background-color: #236376;
  padding: 20px 0;
}
.noMargin{
  margin: 0;
}
.container{
  width: 1200px;
}
header .logo{
  display: block;
}
header .logOutBt{
  padding-top: 10px;
}
header .logOutBt a{
  display: block;
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}
header .logOutBt a:hover,
header .logOutBt a:focus,
header .logOutBt a:active{
  text-decoration: none;
  font-weight: 600;
  -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}
.assesNames {
  padding: 20px 0 40px 0;
}
.assesNames h3{
  margin: 0;
  font-size: 28px;
  color: #0f495c;
  font-weight: 300;
}
.assesNames a{
  width: 140px;
    height: 40px;
    display: block;
    float: left;
    text-align: center;
    line-height: 39px;
    background: #ededed;
    border:1px solid #ededed;
    color: #afafaf;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}
.assesNames a:last-child{
  margin-left: 20px;
}
.assesNames a:active,
.assesNames a:focus,
.assesNames a:hover{
  text-decoration: none;
  background-color: #ffffff;
  border-color:  #236376;
  color:  #236376;
  -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

/*Accor*/
.accordionsTabs{
  border:1px solid #eeeeee;
  border-right: 0;
}
.accordionsTabs .accord .toggleTab{
  border-bottom:1px solid #eeeeee;
  padding:20px 20px;
  position: relative;
  cursor: pointer;
}
.accordionsTabs .accord .toggleTab .tickIco{
  position: absolute;
  width: 18px;
  height: 14px;
  background:url(../images/tick.png);
  top: 25px;
  right: 15px;
}
.accordionsTabs .accord .toggleTab .dropIco{
  position: absolute;
  width: 15px;
  height: 10px;
  background:url(../images/drop.png);
  top: 25px;
  left: 15px;
}
.accordionsTabs .toggleTab.active .dropIco{
   -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.accordionsTabs .accoTitle{
  font-size: 14px;
  color: #00979e;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 20px;
}
.accordionsTabs .toggleTab.active .accoTitle{
  color: #222222;
}
.accordionsTabs .proDetail p{
  margin: 0;
  padding: 20px 20px 20px 40px;
  border-bottom:1px solid #eeeeee;
  font-size: 14px;
  color: #00979e;
  font-weight: 500;
  cursor: pointer;
}
.accordionsTabs .proDetail p.active{
  color: #222222;
}
.right-cont {
  display: none;
}
.con-tab1{
  display: block;
}
.rightTab{
  border:1px solid #eeeeee;
  margin-left: -15px;
  padding: 0 25px;
  margin-bottom: 150px;
}
.right-cont h4{
  font-size: 20px;
  line-height: 28px;
  color: #999999;
  margin-bottom: 35px;
}
.right-cont h6{
  font-size: 16px;
  line-height: 22px;
  color: #999999;
  margin-bottom: 35px;
}
.right-cont p{
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  margin-left: 40px;
}
.right-cont input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:2px solid #00979e;
  border-radius:50%;
  outline:none;
  float: left;
  cursor: pointer;
}
.right-cont input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
}
.right-cont input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;
  border-radius:50%;
}
.right-cont input[type='radio'].ng-valid-parse:before {
  background:#00979e;
}
.right-cont .data{
  margin-bottom: 35px;
}
.bTarget{
  padding: 20px 0;
  border-top:1px solid #eeeeee;
  border-bottom:1px solid #eeeeee;
}
.bTarget h6{
  margin-bottom:18px;
}
.bTarget ul{
  padding: 0;
  margin: 0;
}
.bTarget ul li{
  list-style: none;
  float: left;
  margin-right: 55px;
  color: #666666;
}
.bTarget ul li [type='radio']{
  margin: 0 25px 0 0;
}

footer{
/*  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #2C5765;
  padding: 35px 0*/

  margin:0 auto;
  width:100%;
  height:50px;
  overflow:hidden;
  position: absolute;
  bottom: 0px;
  background-color: #2C5765;
  padding: 35px 0;
}
footer p{
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}

/*Dashboard css*/

.proImg,
.proImg img{
  height: 75px;
  width: 75px;
  border:1px solid #eeeeee;
  border-radius: 50%;
  float: left;
  display: block;
}
.profileSec{
  padding: 30px 0 60px 0;
}
.wel{
  float: left;
  margin-left: 20px;
}
.wel h3{
  font-size: 13px;
  color: #666666;
  margin-bottom: 15px;
}
.wel h2{
  font-size: 17px;
  color: #00979e;
  margin: 0;
  font-weight: 600;
}
.leftText{
  border:1px solid #eeeeee;
  padding: 20px;
  border-bottom: 5px solid #eeeeee;
}
.loremTe{
  margin-bottom: 155px;
}
.loremTe .leftText{
  position: relative;
}
.loremTe .leftText h4{
  font-size: 20px;
  color: #222222;
  margin: 0 0 15px 0;
}
.loremTe .leftText p{
  font-size: 14px;
  color: #999999;
  line-height: 18px;
  margin: 0 0 35px 0;
}
.loremTe .leftText .twoBt{
  border-top: 1px solid #eeeeee;
  margin: 0 -20px -20px -20px;
}
.loremTe .leftText .twoBt a{
  width: 50%;
  display: inline-block;
  float: left;
  text-align: center;
  font-size: 15px;
  color: #00979e;
  text-transform: uppercase;
  padding: 20px 0;
  border-right: 1px solid #eeeeee;
}
.loremTe .leftText .twoBt a:hover{
  text-decoration: none;
}
.loremTe .leftText .penIco{
  position: absolute;
  width: 18px;
  height: 18px;
  background:url(../images/pen.png);
  top: 25px;
  right: 15px;
}
.loremTe .rightText .twoBt a{
  width: 100%;
}

/*Angular Tree directive */
.btn {
    margin-right: 8px;
}
.btn-warning {
background-color: rgba(220,131,114  ,1);
border-color: rgba(220,131,114  ,1);

}
.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    font-size: 12px;
    padding: 5px 5px;
}
.angular-ui-tree-handle:hover {
    cursor: pointer;
    color: #236376;
    background: #f4f6f7;
    border-color: #dce2e8;
}
.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}
/* --- Tree --- */
.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #00979e;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: 5px;
}
.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

label{
  color:#1E5463;
}

.panel .panel-heading {
    background-color: #1E5463;
    color: white;
    font-size:18px;
}

.form-control{
  margin-left:10%;
  width:80%;
  background:transparent;
}

.signInLabel{
  margin-left:5%
}
/*Sign Up form*/
.signUp input {
  -webkit-appearance:none;
  width:80%;
/*  border:2px solid #00979e;
  border-radius:50%;
  outline:none;
  float: left;
  cursor: pointer;*/
}

/*section submit*/
.submitBtn {
  padding: 20px 0px;
}
.submitBtn a{
  width: 140px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 39px;
  text-decoration: none;
  background: #ffffff;
  border:1px solid #236376;
  color: #236376;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
}

/*Graph CSS*/
.graph td {

    width: 100px;
    height: 25px;
  text-align: center;
    border: 0px solid black;
}

.graph .rowlabel {

  height: 20px;
  border: 0px ;

}

.graph .blank {

  border: 0px;
  height: 10px;


}

.graph .strategic {

  background: rgba(230,194,135,1);
  border: 0px ;
}

.graph .strategic.high {

  background: rgba(230,194,135,1);
  border: 0px ;
}
.graph .strategic.medium{

  background: rgba(230,194,135,.75);
  border: 0px ;
}
.graph .strategic.low{

  background: rgba(230,194,135,.5);
  border: 0px ;
}

.graph .cultural {

  background: rgba(228,232,187,1);
  border: 0px ;
}

.graph .cultural.high {

  background: rgba(228,232,187,1);
  border: 0px ;
}

.graph .cultural.medium{

  background: rgba(228,232,187,.75);
  border: 0px ;
}

.graph .cultural.low{

  background: rgba(228,232,187,.5);
  border: 0px ;
}

.graph .operational {

  background: rgba(104,176,167,1);
  border: 0px ;
}

.graph .operational.high {

  background: rgba(104,176,167,1);
  border: 0px ;
}

.graph .operational.medium {

  background: rgba(104,176,167,.75);
  border: 0px ;
}

.graph .operational.low {

  background: rgba(104,176,167,.5);
  border: 0px ;
}



.graph .readiness {

  background: rgba(220,131,114  ,1);
  border: 0px ;
}

.graph .line {
  height: 10px;
}

.graph .line hr {

  border-top: 1px solid gray;
  margin-top: 5px;
  margin-bottom: 5px;
}
.graph .rowlabeldesc{
  vertical-align: top;
  font-size: 12px;
  height: 15px;
}

.graph table {

  font-size: 18;
  /*border: 1px solid black;*/
  border-spacing: 10px 5px;
    border-collapse: separate;

}

/*Graph CSS End*/

.sectionbox {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
width:700px;
  font-size: 14;

  /*border: 1px solid black;*/

}

#BoxChart
{
  text-align: center;
  margin-bottom: 10px;
}

#container
{

  width: 800px;
  text-align: center;
}

td {

  text-align: center;
    width:100px;
    border: 0px solid black;
}
.SectionHeadingName
{
  text-align: left;
  font-weight: bold;
  color: white;
  background-color: #0b5394;
}
.SectionHeadingPriority
{
  text-transform: capitalize;
  width:75px;
  font-weight: bold;
  color: white;
  background-color: #6fa8dc;
}
.celldarkbg
{
  background-color: #9fc5e8;
}

.celllightbg
{
  background-color: #cfe2f3;
}
.comments
{
  text-align: left;
  font-size: 12px;
}

.commentsheader
{
  text-align: left;
}

.stagedescription
{
  vertical-align: top;
  font-size: 12px;
  text-align: justify;
}
.blankrow
{
  height: 5px;
}
.discQues
{
  text-align: left;
  font-size: 12px;
  font-weight: bold;
}
.discAns
{
  font-size: 10px;
  text-align: left;
}
.chartlegendshort
{
  width: 40px;
  font-size: 10px;
}
.chartlegendlong
{
  text-align: left;
  width:200px;
  font-size: 10px;

}
#BoxChartLegend
{
  text-align: center;
   margin: 10 auto;
}
h1 {
  text-align: left;
}
.headertext
{
  float: left;
  margin-bottom: 20px;
  text-align: left;
}

.tableHeader{
  text-align: center;
}
.questionTextArea {
  width: 86%;
}
.optionTextArea {
  width: 80%;
}
.sectionbox td {
  padding: 5px;
}
